<div class="card">
  <div class="card-body" *ngIf="selectedEvent">
    <h5 class="card-title">{{getHeaderText()}}</h5>
    <div *ngIf="!isNewEvent">
      <h6>Event Id</h6>
      <input readonly type="text" class="form-control"
             [(ngModel)]="selectedEvent.id">
    </div>
    <h6>Event Description</h6>
    <input type="text" class="form-control" placeholder="Event Description"
           [(ngModel)]="selectedEvent.eventDescription">
    <h6>Event Start Date</h6>
    <input *ngIf="isNewEvent" type="datetime-local" class="form-control" [(ngModel)]="selectedEvent.startDate">
    <h6 *ngIf="!isNewEvent">{{selectedEvent.startDate}}</h6>

    <h6>Event End Date</h6>
    <input *ngIf="isNewEvent" type="datetime-local" class="form-control" placeholder="End Date" [(ngModel)]="selectedEvent.endDate">
    <h6 *ngIf="!isNewEvent">{{selectedEvent.endDate}}</h6>

    <hr>
    <h5  *ngIf="showErrorText" style="color: red">{{errorText}}</h5>
    <button  type="button" class="btn btn-secondary" (click)="back()">Back</button> 
    <button [disabled]="someFieldsMissing()" type="button" class="btn btn-primary" (click)="saveEvent()">Save Event</button> 
    <button  [disabled]="isNewEvent" type="button" class="btn btn-success" (click)="viewAllMarketOutcomes()">View Event Market Outcomes</button>

  </div>
</div>

<div class="card" *ngIf="!isNewEvent">
  <div class="card-body">
    <h5 class="card-title">Markets List</h5>

    <table class="table" *ngIf="selectedEvent">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">MarketDescription</th>
        <th scope="col">Market Probability</th>
        <th scope="col">Market Odds</th>
        <th scope="col">
          <button type="button" class="btn btn-primary" (click)="addNewMarket()">New</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let market of selectedEvent.eventMarkets">
        <th>{{market.id}}</th>
        <th>{{market.marketDescription}}</th>
        <td>{{market.marketProbability}}</td>
        <td>{{getMarketOdds(market)}}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="viewMarket(market)">View Details</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

